
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  gap: 1rem;
}

.embla__slide {
  position: relative;
  flex: 0 0 calc(100% / 3);
}

.embla__slide__img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.embla__slide__description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
}
